[include fluidd.cfg]

[include KAMP_Settings.cfg]

[gcode_macro _CLIENT_VARIABLE]
variable_park_at_cancel : True
gcode:

[include menu.cfg]
[include start_end.cfg]
[include custom_macros.cfg]

[mcu host]
serial: /tmp/klipper_host_mcu

;[include adxlmcu.cfg]

[virtual_sdcard]
path: /home/pi/printer_data/gcodes
on_error_gcode: CANCEL_PRINT

[stepper_x]
step_pin: PB9
dir_pin: PC2
enable_pin: !PC3
microsteps: 16
rotation_distance: 40
endstop_pin: ^PA5
position_min: -4.0
position_endstop: -4.0
position_max: 250.00
homing_speed: 50

[stepper_y]
step_pin: PB7
dir_pin: PB8
enable_pin: !PC3
microsteps: 16
rotation_distance: 40
endstop_pin: ^PA6
position_endstop: -10.0
position_min: -10.0
position_max: 219.00
homing_speed: 50

[stepper_z]
step_pin: PB5
dir_pin: !PB6
enable_pin: !PC3
microsteps: 16
rotation_distance: 8
# position_endstop: 0.0                     # disable to use BLTouch
# endstop_pin: ^PA7                         # disable to use BLTouch
endstop_pin: probe:z_virtual_endstop    # enable to use BLTouch
position_min: -10                        # enable to use BLTouch
position_max: 254

[safe_z_home]                         # enable for BLTouch
home_xy_position: 157.5,120.5
speed: 100
z_hop: 10
z_hop_speed: 5

[bltouch]                             # enable for BLTouch - fast-mode
sensor_pin: ^PB1
control_pin: PB0
pin_up_touch_mode_reports_triggered: True
stow_on_each_sample: False
probe_with_touch_mode: True
x_offset: -44                         # modify as needed for bltouch location
y_offset: -6                          # modify as needed for bltouch location
#z_offset: 3.175                     # modify as needed for bltouch or run PROBE_CALIBRATE
#z_offset: 3.075
sample_retract_dist: 5.0              # Can be set lower, example 2.5 depending on height of bltouch from bed
lift_speed: 100
samples_tolerance_retries: 3
speed: 100
samples: 1

[bed_mesh]
speed: 100
horizontal_move_z: 5
mesh_min: 10,10
mesh_max: 201,209
probe_count: 6,6
algorithm: bicubic
fade_start: 1
fade_end: 10
adaptive_margin: 5

[screws_tilt_adjust]
screw1: 75,37
screw1_name: front left screw
screw2: 244, 37
screw2_name: front right screw
screw3: 244, 206
screw3_name: rear right screw
screw4: 75, 206
screw4_name: rear left screw
horizontal_move_z: 10
speed: 50
screw_thread: CW-M4

[input_shaper]
#shaper_type_x = mzv
#shaper_freq_x = 81.2
#shaper_type_y = 2hump_ei
#shaper_freq_y = 56.0

[filament_switch_sensor Filament_runout_sensor]
pause_on_runout: True
switch_pin: PA4

[extruder]
max_extrude_only_distance: 100.0
step_pin: PB3
dir_pin: PB4
enable_pin: !PC3
microsteps: 16
rotation_distance: 7.592716936
nozzle_diameter: 0.400
filament_diameter: 1.750
pressure_advance: 0.04
heater_pin: PA1
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PC5
control: pid
pid_kp: 26.306
pid_ki: 1.235
pid_kd: 140.079
min_temp: 0
max_temp: 300

[heater_bed]
heater_pin: PA2
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PC4
control: pid
pid_kp: 70.110
pid_ki: 1.412
pid_kd: 870.237
min_temp: 0
max_temp: 105

[fan]
pin: PA0

[mcu]
serial: /dev/serial/by-id/usb-1a86_USB_Serial-if00-port0
restart_method: command

[printer]
kinematics: cartesian
max_velocity: 500
max_accel: 4000
max_z_velocity: 10
max_z_accel: 100

[display]
lcd_type: st7920
cs_pin: PB12
sclk_pin: PB13
sid_pin: PB15
encoder_pins: ^PB14, ^PB10
click_pin: ^!PB2

[idle_timeout]
timeout: 7200

[exclude_object]


[temperature_sensor chamber_temp]
sensor_type: DS18B20
serial_no: 28-3ce1e3805342
sensor_mcu: host

[temperature_sensor raspberry_pi]
sensor_type: temperature_host
min_temp: 10
max_temp: 100

;[include adxlmcu.cfg]

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [input_shaper]
#*# shaper_type_x = 2hump_ei
#*# shaper_freq_x = 43.6
#*# shaper_type_y = mzv
#*# shaper_freq_y = 33.2
#*#
#*# [bltouch]
#*# z_offset = 2.9